body,
html
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    box-sizing: border-box;
    width: 100%;
}

.rta-main-content
{
    height: 100%;

    background-color: rgba(163, 160, 160, .45);
}
